<form role="form">
  <div class="form-group">
    <label for="name">Name</label>
    {{input class="form-control" id="name" value=name placeholder="Enter Name"}}
  </div>
  <button {{action "submit"}} type="submit" class="btn btn-primary">Submit</button>
</form>
